{% extends 'masterpage/docs.html.twig' %}


{% block content %}

    <section>
        <h2>Meet Universe</h2>
        <p class="lead">Universe is a web application framework with expressive, elegant syntax.
            A web framework provides a structure and starting point for creating your application,
            allowing you to focus on creating something amazing while we sweat the details.
        </p>
        <hr>

        <h4><span class="text-primary">#</span> Your First Universe Project</h4>
        <p>Lorem ipsum</p>

        <hr>

        <h5><span class="text-primary">#</span> Getting Started On macOS</h5>
        <p>hey macos details</p>
        <hr>

        <h5><span class="text-primary">#</span> Getting Started On Windows</h5>
        <p>hey macos details</p>
        <hr>

        <h5><span class="text-primary">#</span> Getting Started On Linux</h5>
        <p>hey macos details</p>
        <hr>


        <p class="alert alert-info">If you have any questions that are beyond the scope of this help file, Please feel free to email via <a target="_blank" href="https://themeforest.net/user/harnishdesign/#contact?ref=HarnishDesign">Item Support Page</a>.</p>
    </section>

    <hr class="divider">
{% endblock %}